<h2>Dear {{fullName}}</h2>
<p>
   Looks like you've forgot your login and/or password.
</p>
<p>
Please, access the site using this link.<br/>
<a href="http://{{hostname}}:4200/#/users/reset-password/{{resetToken}}">{{hostname}}:4200/#/users/reset-password/{{resetToken}}</a><br />  
If you dind't requested to change your login/password or did it by accident, just ignore this email. 
</p>
<p>
Best regards,<br/>
KPIBI Team
</p>