<h2>{{level}}</h2>
<br/>
    <h2>There was an issue with one of the customers.</h2> 
<p>
Details: 
</p>
 <table>
    <tbody>
        <tr>
            <td><strong>Timestamp:</strong></td>
            <td>{{timestamp}}</td>
        </tr>

        <tr>
            <td><strong>IP Address:</strong></td>
            <td>{{ip}}</td>
        </tr>
        
        <tr>
            <td><strong>Company:</strong></td>
            <td>{{hostname}}</td>
        </tr>

        <tr>
            <td><strong>Client Application:</strong></td>
            <td>{{clientId}}</td>
        </tr>

        <tr>
            <td><strong>Client Details:</strong></td>
            <td>{{clientDetails}}</td>
        </tr>

        <tr>
            <td><strong>Issue level:</strong></td>
            <td>{{level}}</td>
        </tr>

        <tr>
            <td><strong>Issue description:</strong></td>
            <td>{{message}}</td>
        </tr>
        
    </tbody>
</table>
<p>
    <small>You are receiving this email because you are part of the Technical Support email list.</small>
</p>